*{
    font-family:sans-serif;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 20px;
}
.Nationtially{
    position: absolute;
    width: 100px;
    height: 100px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.EYN_text{
    width: 405%;
    margin-left: -60%;
}
.SkipButton{
    margin-left: -8%;
    transform: translate(0px,10px);
    width: 201px;
    height: 33px;
    font-size: 23px;
}
.EnterCountryBox{
    width: 201px;
    height: 33px;
    font-size: 25px;
    border-radius: 11px;
    margin-left: -11px;
}
.Website_Logo{
    width: 464px;
    transform: translate(70px,15px);
    margin: auto;
}
.ChangeLanguage{
    position: absolute;
    bottom: 0%;
    right: 0%;
    margin: auto;
}
.CL_text{
    margin-left: 7%;
}
.CL_Flag{
    margin-right: 15px;
}

